
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  font-family: "Poppins", sans-serif;
}


.outer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  text-align: center;
}


.search-box {
  display: flex;
  gap: 10px;
  background: white;
  padding: 10px 15px;
  border-radius: 30px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}

.search-box input {
  border: none;
  outline: none;
  font-size: 18px;
  width: 220px;
  background: transparent;
}

.search-box button {
  background: #4b7bec;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.25s;
}

.search-box button:hover {
  background: #3867d6;
}


.weather-box {
  background: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(15px);
  padding: 30px 50px;
  border-radius: 25px;
  box-shadow: 0px 8px 25px rgba(0,0,0,0.2);
}

.weather-box h1 {
  font-size: 60px;
  margin: 0;
}

.weather-box h2 {
  font-size: 28px;
  margin: 10px 0;
}

.weather-box p {
  font-size: 20px;
  margin: 8px 0;
}
